body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000428 0%, #004e92 100%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    text-align: center;
    margin: 20px;
    position: relative;
    color: white;
}

header #header-title {
    font-size: 36px; 
    font-weight: 900;
    margin: 0;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 36px;
    margin-top: 10px;
    color: #fff;
}

#stop-timer-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#stop-timer-button:hover {
    background-color: #c9302c;
}

.metrics {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.metrics > div {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.column {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    position: relative;
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    color: #333;
}

#add-task-button {
    display: inline-block;
    background-color: #5566e6;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

#add-task-button:hover {
    background-color: #0720de;
}

.todo-item, .done-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: grab;
    background-color: #f9f9f9;
}

.done-item {
    background-color: #e0e0e0;
}

.task-title {
    border: none;
    background: none;
    width: 70%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.time-buttons button {
    font-family: 'Poppins', sans-serif;
    margin: 0 3px;
    background-color: #e6e6e6;
    color: #6e6e6e;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.time-buttons button:hover {
    background-color: #3a006a;
    color: white;
}

.time-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    margin-right: 0;
}

.time-buttons button:last-child {
    margin-right: 5px;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}

.done-button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.done-button:hover {
    background-color: #4cae4c;
}

.onhold-button {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border: 1px solid #bbbbbd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onhold-button:hover {
    background-color: #e0e0e0;
    color: #000;
}

.onhold-button::before {
    content: '\270B';
    font-size: 15px;
}

.drag-over {
    border: 2px dashed #ccc;
}

.blurred {
    filter: blur(5px);
}

.current-task, .current-task * {
    filter: none !important;
}

.quote-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.quote-modal.show {
    opacity: 1;
    visibility: visible;
}

.quote-content {
    background: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

#motivational-quote {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#quote-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

#quote-button:hover {
    background-color: #0056b3;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

.user-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.logout-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: none;
}

.logout-button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.link {
    color: #007bff;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

#pause-timer-button, #start-timer-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pause-timer-button:hover {
    background-color: #ec971f;
}

#start-timer-button {
    background-color: #2e86d9;
    color: white;
}

#start-timer-button:hover {
    background-color: #2a5cad;
}

#done-timer-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#done-timer-button:hover {
    background-color: #4cae4c;
}

.working-on-light {
    font-weight: 200;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#button-container button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button-container #stop-timer-button {
    background-color: #d9534f;
}

#button-container #stop-timer-button:hover {
    background-color: #c9302c;
}

#button-container #pause-timer-button {
    background-color: #f0ad4e;
}

#button-container #pause-timer-button:hover {
    background-color: #ec971f;
}

#button-container #done-timer-button {
    background-color: #5cb85c;
}

#button-container #done-timer-button:hover {
    background-color: #4cae4c;
}

.delete-button,
.done-button {
    margin: 0 2px;
}

.onhold-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#add-onhold-task-button {
    display: inline-block;
    background-color: #5566e6;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

#add-onhold-task-button:hover {
    background-color: #0720de;
}


.onhold-button {
    margin: 0 2px;
}

.todo-item, .done-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.time-buttons {
    margin-right: auto;
}

.common-button {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 2px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.task-input-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: none;
    width: 90%;
    max-width: 400px;
}

.task-input-field {
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body.blur-effect-enabled *:not(.task-input-modal, .task-input-modal *) {
    filter: blur(5px);
    pointer-events: none;
}

.google-login-button {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 10px;
    background-color: #FB4817;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
}

.google-login-button:hover {
    background-color: #357ae8;
}

#login-form {
    font-family: 'Poppins', sans-serif;
}

#login-form input[type="email"],
#login-form input[type="password"],
#register-form input[type="email"],
#register-form input[type="password"] {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#login-submit,
#register-submit {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#login-submit:hover,
#register-submit:hover {
    background-color: #0056b3;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.login-left {
    flex: 1;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.adventure-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.welcome-back {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}

.login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-form,
#register-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    
    .column {
        width: 30%;
    }
    
    header #header-title {
        font-size: 48px;
    }
    
    #timer {
        font-size: 48px;
    }
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh; 
    padding: 0;
}

.login-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.adventure-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0;
}

.welcome-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white; 
    border-radius: 8px;
}

.modal-content {
    display: flex;
    width: 80%;
    max-width: 800px; 
    margin: 0 auto; 
    max-height: 90vh; 
    overflow: hidden; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#login-form,
#register-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-form,
#register-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.icon-button {
    position: relative;
}

.icon-button .tooltip {
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-button .tooltip::after {
    content: '';
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.icon-button:hover .tooltip {
    visibility: visible;
    font-family: 'Poppins', sans-serif;
    opacity: 1;
}
/* Add these styles at the end of your styles.css file */

 .modal-content {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;  /* Ensures vertical stacking */
    align-items: center;     /* Center align the items horizontally */
    justify-content: center; /* Center them vertically if needed */
    width: 100%;              /* Width can be adjusted as per design needs */
    max-width: 600px;        /* Maximum width */
    padding: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 10px;     /* Rounded corners */
    position: relative;
}

.modal-content textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
}
.note-button-container .outline-button,
.note-button-container .delete-note-btn {
    flex: 1;
    margin: 0 5px;
    max-width: calc(50% - 10px); /* Ensure buttons don't exceed half the container width */
}

.outline-button {
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.delete-note-btn {
    background-color: transparent;
    border: 2px solid #f44336;
    color: #f44336;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.delete-note-btn:hover {
    background-color: #f44336;
    color: white;
}

.outline-button:hover {
    background-color: #4CAF50; /* Green background on hover */
    color: white;              /* White text on hover */
}

.close {
    display:none;
}

#module-creator {
    margin: 20px;
    text-align: center;
}

#new-module-name {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#add-module {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#button-container button {
    margin: 0 5px; /* Space out buttons */
    padding: 10px 20px;
    cursor: pointer;
}

#new-module-name {
    margin-top: 10px; /* Space from the buttons */
}

.dashed-outline-button {
    background-color: transparent;
    border: 2px dashed #4CAF50; /* Dashed green border */
    color: #4CAF50;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dashed-outline-button:hover {
    background-color: #4CAF50;
    color: white;
}
.note-button:focus {
    outline: 2px solid #4CAF50; /* Optional: Highlight the button when editing */
}

.note-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.note-button-container .outline-button,
.note-button-container .delete-note-btn {
    flex: 1;
    margin: 0 5px;
    max-width: calc(50% - 10px); /* Ensure buttons don't exceed half the container width */
}



.note-title-input {
    padding: 0px 0px;     /* Padding for better button size */
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    text-align: center;
    color: #000000;
    border:none;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}

.close-note {
    display: none;
}

.outline-button,
.delete-note-btn {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block !important;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}


#add-note-button {
    width: auto !important;            /* Button width to fit content */
    padding: 10px 10px !important;     /* Padding for better button size */
    font-family: 'Poppins', sans-serif !important;
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    color: #ffffff !important;

}

.modal-buttons {
    display: flex !important;
    justify-content: space-between; /* Space out the buttons evenly */
    gap: 10px; /* Add space between the buttons */
    width: 100%; /* Ensure the container takes full width */
}

.modal-button {
    flex: 1 !important; /* Make the buttons take equal space */
    padding: 10px 20px; /* Adjust padding if needed */
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.note-color-picker {
    display: block;
    margin: 10px 0;
}

